In [33]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from scipy.stats import linregress
import seaborn as sns
import scipy.signal as sp

In [34]:
#Tapete Vazio:
vazio=open("Teste1/tapete_vazio.txt",'r')
vazio=pd.read_csv(vazio,skiprows=65,names=["Timestamp","CH1","CH2","CH3","CH4","CH5","CH6","CH7","CH8","PEAKS1","PEAKS2","PEAKS4","PEAKS5","PEAKS6","PEAKS7","PEAKS8"], sep="\t",decimal=',')
importante= open("DadosImportantes.txt","r")
DadosVazioKs=pd.read_csv(importante,names=["Sen1","Sen2","Sen3","Sen5","Sen6","Sen7","Sen8","K1","K2","K3","K5","K6","K7","K8"],sep="\t")

In [35]:
DadosVazioKs=np.abs(DadosVazioKs)
DadosVazioKs

,Sen1,Sen2,Sen3,Sen5,Sen6,Sen7,Sen8,K1,K2,K3,K5,K6,K7,K8
0,1524.414522,1552.885792,1545.331807,1553.397719,1553.377358,1553.028255,1524.564848,206.801253,21.89157,52.175564,180.350194,37.27653,30.196699,21.385117

In [36]:
vazio["PEAKS3"]=vazio["PEAKS4"]
vazio=vazio.drop(["PEAKS4"],axis=1)
vazio

,Timestamp,CH1,CH2,CH3,CH4,CH5,CH6,CH7,CH8,PEAKS1,PEAKS2,PEAKS5,PEAKS6,PEAKS7,PEAKS8,PEAKS3
0,11/05/2023 15:52:06.54594,1,1,0,1,1,1,1,1,1524.30493,1552.86491,1553.04774,1553.36613,1552.97844,1524.53655,1545.30667
1,11/05/2023 15:52:06.54694,1,1,0,1,1,1,1,1,1524.30002,1552.85336,1553.04833,1553.36672,1552.97589,1524.54787,1545.30551
2,11/05/2023 15:52:06.54794,1,1,0,1,1,1,1,1,1524.29606,1552.85551,1553.04617,1553.36770,1552.97844,1524.54127,1545.30299
3,11/05/2023 15:52:06.54894,1,1,0,1,1,1,1,1,1524.30323,1552.85316,1553.04108,1553.36887,1552.97296,1524.53372,1545.30628
4,11/05/2023 15:52:06.54994,1,1,0,1,1,1,1,1,1524.30002,1552.86001,1553.04970,1553.36339,1552.97629,1524.53354,1545.30337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20303,11/05/2023 15:52:26.84894,1,1,0,1,1,1,1,1,1524.30436,1552.85747,1553.04422,1553.36711,1552.97766,1524.53448,1545.30706
20304,11/05/2023 15:52:26.84994,1,1,0,1,1,1,1,1,1524.30436,1552.85845,1553.04422,1553.36692,1552.97374,1524.54920,1545.30687
20305,11/05/2023 15:52:26.85094,1,1,0,1,1,1,1,1,1524.29116,1552.86021,1553.04794,1553.36476,1552.97707,1524.53637,1545.30609
20306,11/05/2023 15:52:26.85194,1,1,0,1,1,1,1,1,1524.29512,1552.85787,1553.04657,1553.36809,1552.97511,1524.51732,1545.30551
20307,11/05/2023 15:52:26.85294,1,1,0,1,1,1,1,1,1524.30436,1552.86061,1553.04755,1553.36320,1552.98020,1524.53694,1545.30803

In [37]:
picos_vazios=vazio.loc[:,["PEAKS1",'PEAKS2','PEAKS3','PEAKS5',"PEAKS6",'PEAKS7','PEAKS8']]
medias=[]
for i in range (0, 7):
    medias.append(picos_vazios.mean()[i])
medias

[1524.2978987123302,
 1552.8543605303328,
 1545.3048749497732,
 1553.0471529308645,
 1553.3657170080755,
 1552.9766794248571,
 1524.5347669844396]

In [38]:
#Criando a malha do tapete 

y= np.linspace(0,282,282)    
x=np.linspace(0,420,420)

#forças
tapetepos=np.zeros((len(x),len(y)))

tapeteforca=tapetepos

In [39]:

sensor1=1
sensor2=2
sensor3=3
sensor4=4
sensor5=5
sensor6=6
sensor7=7
sensor8=8


#TAPETEPOS[X][Y]!!
tapetepos[int(2*len(x)/3)-1][int(len(y)/2)-1]=sensor1
tapetepos[int(len(x)/3)-1][int(len(y)/2)-1]=sensor2

tapetepos[int(len(x)/3)-1][int(len(y)/2)-1]=sensor3
tapetepos[3*int(len(x)/4)-1][2*int(len(y)/3)-1]=sensor5

tapetepos[int(len(x)/2)-1][int(len(y)/3)-1]=sensor6
tapetepos[int(len(x)/4)-1][int(len(y)/3)-1]=sensor7
tapetepos[int(3*len(x)/4)-1][int(len(y)/3)-1]=sensor8

In [45]:
cimentopos1=pd.read_csv(open("Teste1/Cimento/N0.2023.05.11.15.55.14(Pos1).txt","r"),skiprows=65,names=["Timestamp","CH1","CH2","CH3","CH4","CH5","CH6","CH7","CH8","PEAKS1","PEAKS2","PEAKS3","PEAKS5","PEAKS6","PEAKS7","PEAKS8"], sep="\t", decimal=",")

In [46]:
cimentopos1["PEAKS1"].mean()

1524.2992124683876

In [47]:
F=[]

In [51]:
# for sens in range (1,9):
for i in range (0,tapetepos.shape[0]):
    for j in range (0,tapetepos.shape[1]):
        if tapetepos[i][j]==1:
            tapeteforca[i][j]=((cimentopos1["PEAKS1"].mean()-medias[0])*DadosVazioKs["K1"]) #N
            
        if tapetepos[i][j]==2:
            tapeteforca[i][j]=((cimentopos1["PEAKS2"].mean()-medias[1])*DadosVazioKs["K2"]) #N
            
        if tapetepos[i][j]==3:
            tapeteforca[i][j]=((cimentopos1["PEAKS3"].mean()-medias[2])*DadosVazioKs["K3"]) #N
            
        if tapetepos[i][j]==5:
            tapeteforca[i][j]=((cimentopos1["PEAKS5"].mean()-medias[3])*DadosVazioKs["K5"]) #N

        if tapetepos[i][j]==6:  
            tapeteforca[i][j]=((cimentopos1["PEAKS6"].mean()-medias[4])*DadosVazioKs["K6"]) #N
            
        if tapetepos[i][j]==7:
            tapeteforca[i][j]=((cimentopos1["PEAKS7"].mean()-medias[5])*DadosVazioKs["K7"]) #N
            
        if tapetepos[i][j]==8:
            tapeteforca[i][j]=((cimentopos1["PEAKS8"].mean()-medias[6])*DadosVazioKs["K8"]) #N