In [46]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from scipy.stats import linregress
import seaborn as sns
import scipy.signal as sp

In [47]:
#Tapete Vazio:
vazio=open("Teste1/tapete_vazio.txt",'r')
vazio=pd.read_csv(vazio,skiprows=65,names=["Timestamp","CH1","CH2","CH3","CH4","CH5","CH6","CH7","CH8","PEAKS1","PEAKS2","PEAKS4","PEAKS5","PEAKS6","PEAKS7","PEAKS8"], sep="\t",decimal=',')

In [48]:
vazio["PEAKS3"]=vazio["PEAKS4"]
vazio=vazio.drop(["PEAKS4"],axis=1)

In [59]:
picos_vazios=vazio.loc[:,["PEAKS1",'PEAKS2','PEAKS3','PEAKS5',"PEAKS6",'PEAKS7','PEAKS8']]
medias=[]
for i in range (0, 7):
    medias.append(picos_vazios.mean()[i])
medias

[1524.2978987123302,
 1552.8543605303328,
 1545.3048749497732,
 1553.0471529308645,
 1553.3657170080755,
 1552.9766794248571,
 1524.5347669844396]

In [60]:
dFCpos1=pd.read_csv(open("Teste1/Cimento/N0.2023.05.11.15.55.14(Pos1).txt","r"),skiprows=65,names=["Timestamp","CH1","CH2","CH3","CH4","CH5","CH6","CH7","CH8","PEAKS1","PEAKS2","PEAKS4","PEAKS5","PEAKS6","PEAKS7","PEAKS8"], sep="\t", decimal=",")

,Timestamp,CH1,CH2,CH3,CH4,CH5,CH6,CH7,CH8,PEAKS1,PEAKS2,PEAKS4,PEAKS5,PEAKS6,PEAKS7,PEAKS8
0,11/05/2023 15:55:14.16196,1,1,0,1,1,1,1,1,1524.29817,1552.84968,1545.30767,1553.04895,1553.36734,1552.98024,1524.53282
1,11/05/2023 15:55:14.16296,1,1,0,1,1,1,1,1,1524.30515,1552.85379,1545.30748,1553.04817,1553.36617,1552.97632,1524.53395
2,11/05/2023 15:55:14.16396,1,1,0,1,1,1,1,1,1524.29629,1552.86279,1545.30826,1553.04777,1553.36421,1552.97945,1524.52452
3,11/05/2023 15:55:14.16496,1,1,0,1,1,1,1,1,1524.29478,1552.85712,1545.30263,1553.04895,1553.36656,1552.97671,1524.52414
4,11/05/2023 15:55:14.16596,1,1,0,1,1,1,1,1,1524.30609,1552.85672,1545.30787,1553.04856,1553.36401,1552.97691,1524.53697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3791,11/05/2023 15:55:17.95296,1,1,0,1,1,1,1,1,1524.30817,1552.85712,1545.30632,1553.04895,1553.36205,1552.97671,1524.53074
3792,11/05/2023 15:55:17.95396,1,1,0,1,1,1,1,1,1524.30006,1552.85927,1545.30845,1553.04601,1553.36323,1552.97358,1524.53885
3793,11/05/2023 15:55:17.95496,1,1,0,1,1,1,1,1,1524.29402,1552.85496,1545.30457,1553.04817,1553.36323,1552.97319,1524.53414
3794,11/05/2023 15:55:17.95596,1,1,0,1,1,1,1,1,1524.30307,1552.84752,1545.30671,1553.04445,1553.36597,1552.97534,1524.52697
3795,11/05/2023 15:55:17.95696,1,1,0,1,1,1,1,1,1524.29930,1552.86044,1545.30709,1553.05150,1553.36304,1552.97691,1524.53659